<!-- 
  TODO:
  Add modal for snip cart
 -->

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="site">
    <header>
      {% include navbar.html %}
    </header>

    <main class="site-content container">

      <div class="row mt-4 mb-4 test">
        <!-- album cover -->
        <section class="col-lg-6">
          <img src='https://via.placeholder.com/400/000000/FFFFFF/?text={{ page.title | replace: " ", "+"}}' alt="" class="img-fluid cover">
        </section>

        <!-- checkout -->
        <section class="col-lg-6 items">
            <div class="item-info">
              <h3>{{ page.title }}</h3>
              <h4>{{ page.artist }}</h4>
              <h4>{{ page.price | prepend: "$" | append: ".00" }} USD</h4>
            </div>

            <div class="item-content">
              {{ content }}
            </div>

            <div class="item-buttons">
              {% if page.sold_out == true %}
                <button class="btn btn-primary" disabled>Sold Out</button>
              {% else %}  
                <button class="btn btn-primary">Add to Cart</button>
              {% endif %}
              <button class="btn btn-primary">Checkout</button>
            </div>
        </section>
      </div>

    </main>

    <footer>
      I am in the footer
    </footer>
  </body>
  {% include js.html %}
</html>