<!-- 
  TODO:
  Add modal for snip cart
 -->

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="site">
    <header>
      {% include navbar.html %}
    </header>

    <main class="site-content container">

      <div class="row mt-4 mb-4 test">
        <!-- album cover -->
        <section class="col-lg-6">
          <img src="{{ page.cover_art }}" alt="" class="img-fluid cover">
        </section>

        <!-- checkout -->
        <section class="col-lg-6 items">
            <div class="item-info">
              <h4>{{ page.title }}</h4>
              <h3>{{ page.artist }}</h3>
              <h3>{{ page.released }}</h3>

              {% if page.sale_price %}
                <h3><i class="fas fa-dollar-sign"></i><i class="fas fa-dollar-sign mr-3"></i>ON SALE! <i class="fas fa-dollar-sign ml-3"></i><i class="fas fa-dollar-sign"></i></h3>
                <h3>{{ page.sale_price | prepend: "$" | append: ".00" }} USD</h3>
              {% else %}
                <h3>{{ page.price | prepend: "$" | append: ".00" }} USD</h3>  
              {% endif %}
            </div>

            <div class="item-content">
              {{ content }}
            </div>

            <div class="item-buttons">
              {% if page.sold_out == true %}
                <button class="btn btn-primary" disabled>Sold Out</button>
              {% else %}  
                <button class="btn btn-primary snipcart-add-item" 
                data-toggle="modal" 
                data-target="#exampleModal"
                data-item-id="{{ page.id }}"
                data-item-name="{{ page.title }}"
                data-item-image="{{ page.cover_art }}"
                data-item-price="{{ page.price | append: '.00'}}"
                data-item-custom1-name="Format"
                data-item-custom1-options="Cassette|CD|Vinyl"
                data-item-url="{{ site.url }}{{ page.url | append: '.html'}}"
                >Add to Cart <i class="fas fa-plus ml-3"></i></button>
              {% endif %}
              <button class="btn btn-primary snipcart-checkout">Checkout <i class="fas fa-shopping-cart ml-3"></i></button>
            </div>
        </section>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Item Added! <i class="far fa-grin-alt"></i></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">
                  <i class="fas fa-times"></i>
                </span>
              </button>
            </div>
            <div class="modal-body">
              <p>{{ page.title }} has been added to your cart.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </main>

    {% include footer.html %}
  </body>
  {% include js.html %}
</html>